.shop-row {
    margin-top: 50px !important;
}

.products-sorting {
    max-width: 65% !important;
    gap: 50px;
    display: flex;
    justify-content: end;
    align-items: center;
}

.shop-display-row {
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    flex-wrap: wrap;
    row-gap: 120px;
    width: 100%;
    padding: 20px 300px 150px;
}

.shop-product-col {
    width: 288px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 0 !important;
    padding-left: 0 !important;
    flex: 0 0 !important;
}

.shop-page {
    background: #fff;
}

.product-card {
    text-align: left;
    font-family: "Arial", sans-serif;
    width: 288px;
    height: 360px;
}

.product-img-wrapper {
    position: relative;
    overflow: hidden;
}

.product-img-wrapper img {
    border-radius: 0;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.image-hover {
    transition: transform 0.1s ease;
    /* smooth animation */
}

.image-hover:hover {
    transform: scale(1.2);
    /* zoom in by 10% */
}

/* Product Tag */
.product-tag {
    position: absolute;
    top: 10px;
    left: 0px;
    background: #000;
    color: #fff;
    font-size: 0.8rem;
    font-weight: 600;
    padding: 4px 8px;
    border-radius: 2px;
    text-transform: uppercase;
    width: auto;
}

/* Product Info */
.product-info {
    margin-top: 10px;
}

.product-name {
    font-size: 1rem;
    font-weight: 500;
    margin: 0;
}

.product-price {
    font-size: 0.95rem;
    margin: 5px 0 0;
}

.old-price {
    text-decoration: line-through;
    color: gray;
    margin-right: 5px;
}

.new-price {
    font-weight: bold;
    color: #000;
}


@media screen and (max-width: 500px) {
    .products-sorting {
        max-width: 90% !important;
        justify-content: space-between;
        padding-bottom: 20px;
    }
    
    .shop-display-row {
        padding: 0;
        flex-direction: column;
        row-gap: 0;
    }
    .shop-product-col {
        width: 100%!important;
    }

    .product-card {
        width: 100%;
        height: auto;
        padding: 10px;
    }

    .product-img-wrapper img {
        border-radius: 0;
        object-fit: cover;
    }
}