.top-tab {
    background-color: #1f212f !important;
    font-family: 'Inter', sans-serif !important;
    font-size: 14px;
    font-weight: 550 !important;
}

.nav-tab {
    background-color: #ffffff !important;
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 16px;
    font-weight: 550 !important;
}

.gallery-text {
    font-family: 'Outfit', sans-serif;
    font-size: 50px;
}

.gallery-small-text {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    color: grey;
}

.gallery-row {
    width: 95%;
}



.gallery-images {
    transition: transform 0.3s ease;
    width: 580px;
    height: 465px;
    border-radius: 20px;
}


.footer-container {
    font-family: 'Inter', sans-serif;
    background-color: #1f1f2e;
    padding: 0 0;
}






@media screen and (max-width: 425px) {
    .gallery-row {
        width: 100%;
    }
}