.section3-row{
    background-color: #fff;
}
.section3-col {
    flex-direction: row;
}


.image-card {
    position: relative;
    width: 606px;
    height: 545px;
    /* border-radius: 15px; */
    overflow: hidden;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.background-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Dark overlay effect */
.image-card::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.35);
    /* border-radius: 15px; */
}

/* Overlay text and button */
.overlay-content {
    width: 100%;
    height: 100%;
    position: absolute;
    transform: translate(0, -100%);
    color: white;
    text-align: center;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.overlay-content .small-text {
    font-size: 0.9rem;
    font-weight: 600;
    letter-spacing: 1px;
    font-family: 'inter', sans-serif;
}

.overlay-content h2 {
    font-size: 2.5rem;
    font-weight: bold;
    margin: 10px 0;
    font-family: 'Outfit', sans-serif;
    width: 80%;
}

.shop-btn {
    margin-top: 50px;
    padding: 15px 50px;
    font-size: 1rem;
    font-weight: 500;
    border: none;
    border-radius: 25px;
    background: white;
    color: black;
    cursor: pointer;
    transition: all 0.3s ease;
    text-decoration: none;
}

.shop-btn:hover {
    background: #000;
    color: white;
}

.shop-btn2 {
    margin-top: 100px;
}

@media screen and (max-width: 425px) {
    .section3-col {
        flex-direction: column;
        gap: 20px;
    }

    .image-card {
        width: 328px;
        height: 320px;
    }

    .overlay-content h2 {
        font-size: 1.6rem;
        font-weight: bold;
        margin: 10px 0 70px;
        font-family: 'Outfit', sans-serif;
    }
    .shop-btn {
    margin-top: 0;
}
}