.loader-div {
  width: 100%;
  height: 400px;
  position: absolute;
  background: rgba(255, 255, 255, 0.75);
  z-index: 99999999;
  left: 0;
  top: 0;
  border-radius: 10px;
}

.loader {
  width: fit-content;
  font-size: 40px;
  line-height: 1.5;
  font-family: system-ui, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: #0000;
  -webkit-text-stroke: 1px #000;
  background:
    radial-gradient(1.13em at 50% 1.6em, #000 99%, #0000 101%) calc(50% - 1.6em) 0/3.2em 100% text,
    radial-gradient(1.13em at 50% -0.8em, #0000 99%, #000 101%) 50% .8em/3.2em 100% repeat-x text;
  animation: l9 2s linear infinite;
}

.loader:before {
  content: "Ujaas Aroma";
}

@keyframes l9 {
  to {
    background-position: calc(50% + 1.6em) 0, calc(50% + 3.2em) .8em
  }
}



.spin-loader {
  width: 200px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 10px dotted;
  border-color: #000 #0000;
  animation: l1 1s infinite;
  position: absolute;
}

@keyframes l1 {
  to {
    transform: rotate(.5turn)
  }
}


/* HTML: <div class="loader"></div> */
.sending-loader {
  width: fit-content;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 30px;
  padding-bottom: 8px;
  background: linear-gradient(currentColor 0 0) 0 100%/0% 3px no-repeat;
  animation: l2 2s linear infinite;
}
.sending-loader:before {
  content:"Sending..."
}
@keyframes l2 {to{background-size: 100% 3px}}